  .copyright_footer{
      position: fixed;
      color: white;
      bottom: 0;
      width: 100%;
      background-color: #a8a8a8;
      line-height: 3;
      text-align: center;
      left: 0;
  }

  /* You Can Modify This Design As You Like*/

  /* This was just a simple yet effective design*/

  /* And if you like my videos, please like this video and subscribe */
  
  /* More Designs Coming Soon ! */